@charset "UTF-8";

/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin:auto;
    padding: 50px;
    background-image:linear-gradient(to right, #049942, #7DA204); /* Cor de fundo geral */
    /*flex-direction: colum;*/
   /* min-height: 100vh;*/
}

.container {
    display: flex;
    flex-grow: 0;
    max-width: 1200px;
    margin: auto;
    padding: 50px;
   /* gap: 2px; /* Espaço entre os componentes */
}



.app-header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.app-header h1 {
    font-size: 1.2em;
    color: #27232304;
    margin: 0;
}

.app-header .back-icon {
    font-size: 1.5em;
    text-decoration: none;
    
    color: #00000000;
    margin-right: 15px;
}

/*.app-header .header-icons img 
    height: 20px;
    margin-left: 15px;
*/

/* Formulário (Criar Conta / Entrar) */
.form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px, 10px, 10px;
    box-shadow: 10px 4px 10px rgba(0, 44, 15, 0.27);
    flex: 10; /* Permite que ocupe espaço */
    max-width: 500px; /* Largura máxima para o formulário */
}

.form-container h2 {
    color: #000000da;
    margin-bottom: 2px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif, 10px;
    /*nome(login)*/
}

.form-group {
    margin-bottom: 5px;
    /*espaço entre as linhas*/
}
.form-group label {
    display: block;
    margin-bottom: 1px;
    color: #1b1919;
    font-family:'Times New Roman', Times, serif, 1px;
}

.form-group label {
    padding-bottom: 1px;
    display: block;
    margin-bottom: 1px;
    color: #090909d1;
    font-family:'Times New Roman', Times, serif, 1px;
    /* nome( email, e senhaa)*/
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ececec;
    border-radius:5px;
    box-sizing: border-box, 50px ; /* Inclui padding na largura total */
    font-size: 1em;
}

.btn-primary {
    background-color:#157200db; /* Verde */
    color: rgb(228, 233, 230);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1.1em;
    margin-top: 30px;

    /*acessar login*/
}


.btn-primary:hover {
    background-image:linear-gradient(rgb(38, 94, 54));

   /* mudar a cor ao usar*/
}

.login-link, .signup-link, .forgot-password-link {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
}

.login-link a, .signup-link a, .forgot-password-link a {
    color: #00e108;
    text-decoration: none;
}

.login-link a:hover, .signup-link a:hover, .forgot-password-link a:hover {
    text-decoration: underline;
}
 /* Prévia do Aplicativo (simulação do celular)*/
.app-preview {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px; /* Altura mínima para a prévia */
    background-image:linear-gradient( #15803D); /* Cor de fundo para a seção de prévia */
    border-radius: 1px;
    position: relative; /* Para posicionar as imagens overlay */
}
